<a href="https://colab.research.google.com/github/jhyglory/Section1/blob/main/AI_01_%E1%84%8C%E1%85%A5%E1%86%BC%E1%84%92%E1%85%A1%E1%84%8B%E1%85%A7%E1%86%BC_Section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

uploaded = files.upload()

# 새 섹션

In [ ]:
# 데이터 불러오기
df = pd.read_csv('vgames2.csv')
df.head()

In [ ]:
#Unnamed 삭제
df2 = df.drop('Unnamed: 0', axis=1) 
df2.head()

In [ ]:
# 결측치와 데이터 타입 확인
df2.info()

In [ ]:
# 결측치 삭제
df3 = df2.dropna()
df3.info()

In [ ]:
# 년도 오름차순 정렬 
df3.sort_values('Year')

In [ ]:
# 연도 정상화, 실수 -> 정수로 바꾸기
change = {0:2000, 1:2001, 2:2002, 3:2003, 4:2004, 5:2005, 6:2006, 7:2007, 8:2008, 
          9:2009,  10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 
          86:1986, 94:1994, 95:1995, 96:1996, 97:1997, 98:1998}

df4 = df3.replace({'Year' : change})
df4['Year'] = pd.to_datetime(df4.Year, format='%Y').dt.year
df4['Year'].unique()

In [ ]:
# 매출액에 있는 M,K 없애기, 문자열-> 실수로 바꾸기
df4['NA_Sales'] = df4['NA_Sales'].str.replace('M','')
df4['EU_Sales'] = df4['EU_Sales'].str.replace('M','')
df4['JP_Sales'] = df4['JP_Sales'].str.replace('M','')
df4['Other_Sales'] = df4['Other_Sales'].str.replace('M','')
df4['NA_Sales'] = df4['NA_Sales'].apply(lambda x: float(x[:-1])*0.001 if x.endswith('K') else float(x))
df4['EU_Sales'] = df4['EU_Sales'].apply(lambda x: float(x[:-1])*0.001 if x.endswith('K') else float(x))
df4['JP_Sales'] = df4['JP_Sales'].apply(lambda x: float(x[:-1])*0.001 if x.endswith('K') else float(x))
df4['Other_Sales'] = df4['Other_Sales'].apply(lambda x: float(x[:-1])*0.001 if x.endswith('K') else float(x))
df4.info()

In [ ]:
df4.head(30)



---
# 1. 지역에 따라서 선호하는 게임 장르가 다를까 ?
   

*    장르별로 게임의 개수가 다르기 때문에 장르별로 게임의 매출액을 다 더한 값을 개수만큼 나눈 평균을 구해야 한다고 판단하였다.
*   개수가 같다고 가정해도 특정 장르에서 특정 게임만 매출액이 월등히 높아 그 장르의 총 매출액이 높은 경우 그 장르 자체를 선호한다고 보기에는 무리가 있다.

In [ ]:
#장르별 매출액 평균 비교
gb_NA_Sales = df4.groupby('Genre')['NA_Sales'].mean()
NA_bar = gb_NA_Sales.sort_values(ascending=False)
NA_bar.plot(kind='bar',figsize = (15,5), color = '#bee5d3')

북미의 매출액 평균은 Platform -> Shooter -> Racing 순으로 높다.



---

In [ ]:
gb_EU_Sales = df4.groupby('Genre')['EU_Sales'].mean()
EU_bar = gb_EU_Sales.sort_values(ascending=False)
EU_bar.plot(kind='bar',figsize = (15,5), color = '#d6b0b1')

유럽의 매출액 평균은 Shooter -> Platform -> Racing 순으로 높다.





---

In [ ]:
gb_JP_Sales = df4.groupby('Genre')['JP_Sales'].mean()
gb_bar = gb_JP_Sales.sort_values(ascending=False)
gb_bar.plot(kind='bar',figsize = (15,5), color = '#8b5e83')

일본의 매출액 평균은 Role-playing -> Platform -> Fighting 순으로 높다.



---

In [ ]:
gb_OtherSales = df4.groupby('Genre')['Other_Sales'].mean()
gb_bar = gb_OtherSales.sort_values(ascending=False)
gb_bar.plot(kind='bar',figsize = (15,5), color = '#487e95')

기타지역의 매출액 평균은 Shooter -> Racing -> Platform 순으로 높다.



---

In [ ]:
# 모든 지역과 모든 장르의 매출액 평균 비교
Sales = df4.groupby('Genre')['NA_Sales','EU_Sales','JP_Sales','Other_Sales'].mean()
Sales.plot(kind='bar',figsize = (21,7))