<a href="https://colab.research.google.com/github/jhyglory/Section1/blob/main/AI_01_%E1%84%8C%E1%85%A5%E1%86%BC%E1%84%92%E1%85%A1%E1%84%8B%E1%85%A7%E1%86%BC_n232.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 2*

# üìù Assignment
---
# Data Wrangling

### 1) ÏßÄÏÜçÏ†ÅÏúºÎ°ú Ïó¨Îü¨Î∂ÑÏùò Ìè¨Ìä∏Ìè¥Î¶¨Ïò§ Îç∞Ïù¥ÌÑ∞Î•º Îû≠Í∏ÄÎßÅ ÌïòÏÑ∏Ïöî

Ï†ÄÎ≤à Îç∞Ïù¥ÌÑ∞Í∞Ä ÎÑàÎ¨¥ ÏûëÏïÑÏÑú Îã§Î•∏ Îç∞Ïù¥ÌÑ∞Î°ú Î∞îÍæ∏Í∏∞Î°ú Í≤∞Ï†ï,
ÏòÅÌôî ÌèâÏ†êÏùÑ ÏòàÏ∏°ÌïòÎäî Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥Î≥¥Î†§Í≥† ÌïúÎã§.

In [1]:
from google.colab import files

uploaded = files.upload()

Saving movies_metadata.csv to movies_metadata (1).csv
Saving ratings.csv to ratings (1).csv

In [2]:
import pandas as pd
df = pd.read_csv('movies_metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
df = df[['id', 'original_title', 'original_language', 'genres']]
df = df.rename(columns={'id':'movieId'})

In [5]:
df = df[df['original_language'] == 'en']
df

      movieId  ...                                             genres
0         862  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        8844  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       15602  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3       31357  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4       11862  ...                     [{'id': 35, 'name': 'Comedy'}]
...       ...  ...                                                ...
45459  222848  ...           [{'id': 878, 'name': 'Science Fiction'}]
45460   30840  ...  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45463   67758  ...  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464  227506  ...                                                 []
45465  461257  ...                                                 []

[32269 rows x 4 columns]

### 2) ÏÉàÎ°ú ÌäπÏßïÎì§ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî

In [6]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

### 3) (ÎèÑÏ†ÑÍ≥ºÏ†úüî•) Î∂ÄÏ°±ÌïòÎçîÎùºÎèÑ ÏµúÏÜåÌïúÏùò Îû≠Í∏ÄÎßÅÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï§ÄÎπÑÌïòÏó¨ Í∞ÑÎã®Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÏºú Î≥¥ÏÑ∏Ïöî

In [7]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###